* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    min-width: 375px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    transform: translateY(-5px);
}

.title {
    font-size: 32px;
    line-height: 1.34375;
    color: #363940;
    font-weight: 500;
}

.text {
    font-size: 16px;
    line-height: 1.375;
    color: #95a1bb;
    font-weight: 400;
}

/* ---- стилизация хедера --- */

.header {
    background-color: #0a61f7;
    padding: 14px 0px;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1170px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 24px;
}

.menu-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66667;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    /* text-align: right; */
    color: #fff;
}

    .menu-icon {
        display: none;
    }

/* --- стилизация первой секции --- */

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.main-img {
    align-self: flex-end;
    max-width: 656px;
    width: 100%;
}

.main-title {
    color: #363940;
    font-size: 58px;
    font-weight: 500;
    line-height: 68px;
    margin-bottom: 30px;
}

.main .text {
    margin-bottom: 40px;
    max-width: 380px;
}

.button {
    width: 152px;
    height: 51px;
    border-radius: 4px;
    background: #0A61F7;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/* --- стилизация второй секции --- */

.rates-sec {
    background-color:  #f9fafc;
    padding: 100px 0px;
}

.rates-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rates-sec .title {
    margin-bottom: 20px;
}

.rates-sec .text {
    margin-bottom: 40px;
    text-align: center;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #95a1bb;
    width: 240px;
    padding: 15px 0px;
    text-align: center;
}

.table-title {
    font-size: 18px;
    line-height: 1.22222;
    color: #363940;
    font-weight: 500;
}

.table-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57143;
    color: #363940;
    text-align: left;
    padding-left: 20px;
}

.table-link {
    color: #0a61f7;
}

.gray {
    color: #95a1bb;
}

.table-button {
    border: 1px solid #0a61f7;
    width: 140px;
    padding: 8px 0px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.63333;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #0a61f7;
    font-weight: 500;
}

.active {
    background-color: #0a61f7;
    color: #fff;
}

.table-footer td {
    padding: 30px 0px;
}

/* --- стилизация третьей секции --- */

.acc-wrapper {
    display: flex;
    justify-content: space-between;
}

.casec {
    padding: 100px 0;
}

.list-item {
    /* font-size: 16px;
    line-height: 1.375; */
    color: #363940;
    /* font-weight: 400; */
    list-style-image: url(./assets/Check.svg);
    margin-left: 30px;
    margin-bottom: 15px;
}

.casec .title {
    margin-bottom: 50px;
}

.casec .text {
    margin-bottom: 40px;
    max-width: 500px;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stuck,
fieldset {
    display: flex;
    column-gap: 30px;
}

.fields-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input, select, fieldset, textarea {
    border: 1px solid #95a1bb;
    border-radius: 4px;
    padding: 14px 15px;
}

input, select, fieldset, textarea, label, legend, textarea::placeholder, input::placeholder, select::placeholder {
    font-size: 16px;
    line-height: 1.4;
    color: #95a1bb;
    font-weight: 400;
    font-family: inherit;
}

/* textarea::placeholder {
    font-family: "Rubik", sans-serif;
} */

input[type="text"] {
    width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
    flex-grow: 1;
}

input [type="radio"], input [type="checkbox"], input [type="date"], select {
    cursor: pointer;
}

fieldset {
    width: 100%;
    padding: 30px 15px; 
}

textarea {
    width: 100%;
    min-height: 80px;   
    resize: none;
}

form .button {
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./assets/Calendar.svg) no-repeat;
}

select {
    background: url(./assets/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}

/* --- стилизация футера --- */

footer {
    background: #0a61f7;
    text-align: center;
    padding: 20px 0;
}

small {
    font-size: 14px;
    line-height: 1.57143;
    color: #fff;
    font-weight: 400;
}

/* адаптив для планшета */
@media screen and (max-width: 1400px) {
    
    .main-wrapper{
        flex-direction: column;
        min-height: auto;
    }

    .main-info {
        align-self: flex-start;
        margin: 100px 0 80px;
    }

    .main-img {
        align-self: center;
    }

    .table {
        width: 940px;
    }

    .table-wrapper {
        overflow-x: auto;
        width: 100%;
        max-width: 940px;
    }

    .acc-wrapper {
        flex-direction: column;
        gap: 70px;
    }

    .casec .text {
        max-width: unset;
    }

    form {
        align-self: center;
    }

}

/* адаптив под мобилки */

@media  screen and (max-width: 576px) {
    
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .main-info {
        margin: 60px 0;
    }

    .main-title {
        font-size: 52px;
        line-height: 60px;
    }

    .acc-wrapper {
        gap: 60px;
    }

    label {
        white-space: nowrap;
    }

    fieldset {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}